<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @device.name %>
</p>

<% if @device.in_experiment? %>
<p>
	<strong>Current Experiment:</strong>
	<%= link_to @device.experiment.name, @device.experiment %>
</p>
<% elsif !@device.experiment.nil? %>
<p>
	<strong>Most Recent Experiment:</strong>
	<%= link_to @device.experiment.name, @device.experiment %>
</p>
<% end %>

<p>
  <strong>Address:</strong>
  <%= @device.address %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @device.notes %>
</p>

<p><br>
  <strong>Past experiments:</strong>
  <ul>
  <% @device.device_experiments.each do |de| %>
    <% if de.experiment %>
    <li>
      <%= link_to de.experiment.name, de.experiment %> (<%= de.location.nil? ? "No location" : de.location %>)
    </li>
    <%end %>
  <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_device_path(@device) %> |
<%= link_to 'Back', devices_path %>
