<div id="experiment_chart" style="margin: 30px;"></div>

<script>
var graph_data = [
  <% @chart_data.each do |time, values| %>
    { time: <%= time.to_i * 1000 %>,
      <% values.each do |device_id, ppm| %>
        id_num_<%= device_id.to_s %>: <%= ppm %>,
      <% end %>
    },
  <% end %>
  ];

var xLabelFormat = function (x) {
  return new Date(x).toLocaleTimeString();
};
var dateFormat = function (x) {
  return new Date(x).toLocaleString();
};
var yLabelFormat = function (y) { return y.toString() + ' ppm'; };


var graph = new Morris.Line({

  // ID of the element in which to draw the chart.
  element: 'experiment_chart',
  // Chart data records -- each entry in this array corresponds to a point on
  // the chart.
  data: graph_data,
  // The name of the data record attribute that contains x-values.
  xkey: 'time',
  xLabels: "second",
  //xLabelAngle: 60,
  xLabelFormat: xLabelFormat,
  dateFormat: dateFormat,
  //parse_time: false,
  // A list of names of data record attributes that contain y-values.
  ykeys: <%== @chart_ykeys %>,

  labels: <%== @chart_labels.keys.to_json %>,

  goals: [10000, <%= @experiment.co2_cutoff%>],
  // Labels for the ykeys -- will be displayed when you hover over the
  // chart.

  yLabelFormat: yLabelFormat,

  ymin: 0,
  pointStrokeColors: ['#bbbbff'],
  pointSize: 3,
  hideHover: false,
  continuousLine: true,
  smooth: false,
  

});

function update() {
  graph.setData(graph_data);
}
//setInterval(update, 10000);

</script>