<%= semantic_form_for(@experiment) do |f| %>
  <% if @experiment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@experiment.errors.count, "error") %> prohibited this experiment from being saved:</h2>

      <ul>
      <% @experiment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>


<% if not @experiment.start.nil? %>
  <div class="field">
    <%= f.label :start %><br>
    <%= f.datetime_select :start %>
  </div>
<% end %>

<% if not @experiment.end.nil? %>
  <div class="field">
    <%= f.label :end %><br>
    <%= f.datetime_select :end %>
  </div>
<% end %>

<div>
  <br>
  <%= f.label :devices %>
  <% if @devices %>
  <ul>
    <% @devices.each do |device| %>
    <li>
    <%= fields_for(device) do |device_f| %>
    <%= device_f.label device.name %>
    <%= check_box_tag("experiment[device_ids][]", device.id, device.experiment_id == @experiment.id) %>
    <% end %>
    </li>
    <% end %>
  </ul>
  <% else %>
  <p>There appear to be no devices</p>
  <% end %>
</div

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
