<%# This script probably shouldn't be here... %>
<script type="text/javascript">
var check_box_change = function(device_id) {
  var check_box = document.querySelector("input[type='checkbox'][value='"+ device_id + "']");
  var location = document.querySelector("#location_for_device_" + device_id);

  if(check_box.checked && location != null) {
     location.style['display'] = 'block';
  } else {
    location.style['display'] = 'none';
  }
}
</script>

<%= semantic_form_for(@experiment) do |f| %>
  <% if @experiment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@experiment.errors.count, "error") %> prohibited this experiment from being saved:</h2>

      <ul>
      <% @experiment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :co2_cutoff %><br>
    <%= f.text_field :co2_cutoff,
    value: (@experiment.co2_cutoff.nil? ? 2000 : @experiment.co2_cutoff) %>
  </div>

<% if not @experiment.start.nil? %>
  <div class="field">
    <%= f.label :start %><br>
    <%= f.datetime_select :start %>
  </div>
<% end %>

<% if not @experiment.end.nil? %>
  <div class="field">
    <%= f.label :end %><br>
    <%= f.datetime_select :end %>
  </div>
<% end %>

<div>
  <br>
  <%= f.label :devices %>
  <% if @devices %>
  <table>
    <% @devices.each do |device| %>
    <tr>
      <td>
    <%= fields_for(device) do |device_f| %>
    <% checked = @experiment.devices.include?(device) %>
    <%= device_f.label device.name %>
    <%= check_box_tag("experiment[device_ids][]", device.id, checked, onchange: "check_box_change(#{device.id.to_s})") %>
      </td>

        <% de = DeviceExperiment.find_by(experiment_id: @experiment.id, device_id: device.id) %>
        <% if !de.nil? %>
          <td>
          <%= fields_for(de) do |de_f| %>
            Location: <%= text_field_tag("experiment[device_experiments_locs][#{de.id}]", de.location )%>
          <% end %>
          </td>
        <% else %>
          <% display_location = checked ? "inline" : "none" %>
          <td style='display:<%= display_location %>', id='<%= 'location_for_device_' + device.id.to_s %>'>
            Location: <%= text_field_tag("experiment[device_experiments_locs][new][#{device.id}]", "Add a location") %>
          </td>
        <% end %>


    <% end %>
    </tr>
    <% end %>
  </table>
  <% else %>
  <p>There appear to be no devices available.</p>
  <% end %>
</div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
