<%= semantic_form_for(@experiment) do |f| %>
  <% if @experiment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@experiment.errors.count, "error") %> prohibited this experiment from being saved:</h2>

      <ul>
      <% @experiment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :co2_cutoff %><br>
    <%= f.text_field :co2_cutoff,
    value: (@experiment.co2_cutoff.nil? ? 2000 : @experiment.co2_cutoff) %>
  </div>

<% if not @experiment.start.nil? %>
  <div class="field">
    <%= f.label :start %><br>
    <%= f.datetime_select :start %>
  </div>
<% end %>

<% if not @experiment.end.nil? %>
  <div class="field">
    <%= f.label :end %><br>
    <%= f.datetime_select :end %>
  </div>
<% end %>

<div>
  <br>
  <%= f.label :devices %>
  <% if @devices %>
  <ul>
    <% @devices.each do |device| %>
    <li>
    <%= fields_for(device) do |device_f| %>
    <%= device_f.label device.name %>
    <%= check_box_tag("experiment[device_ids][]", device.id, @experiment.devices.include?(device)) %>


    <% de = DeviceExperiment.find_by(experiment_id: @experiment.id, device_id: device.id) %>
    <% if !de.nil? %>
    <%= fields_for(de) do |de_f| %>
     Location: <%= text_field_tag("experiment[device_experiments_locs][#{de.id}]", de.location )%>
     <% end %>
     <% end %>




    <% end %>
    </li>
    <% end %>
  </ul>
  <% else %>
  <p>There appear to be no devices available.</p>
  <% end %>
</div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
