<p id="notice"><%= notice %></p>

<p>
  Download:
  <%= link_to "CSV", :action => :show, :id => @experiment.id, :format =>'csv'%>

</p>

<br>
<% if @experiment.sensor_data.empty? %>
<p>This experiment has no data yet.</p>
<% else %>
<%= render 'chart' %>
<% end %>
<br>

<p>
  <strong>Name:</strong>
  <%= @experiment.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @experiment.location %>
</p>

<p>
  <strong>Start:</strong>
  <%= @experiment.start %>
</p>

<p>
  <% if @experiment.end.nil? %>
  	<div style="">
  		<%= render 'form_end' %>
  	</div>

  <% else %>
  	<strong>End:</strong>
  	<%= @experiment.end %>
  <% end %>
</p>

<% if @experiment.devices.length > 0 %>
<p><strong>Devices:</strong>
<ul>
	<% @experiment.devices.each do |device| %>
		<li><%= device.name %></li>
	<% end %>
</ul>
</p>
<% else %>
	<br><p>This experiment has no devices currently submitting to it.</p>
<% end %>

<%= link_to 'Edit', edit_experiment_path(@experiment) %> |
<%= link_to 'Back', experiments_path %>
