<p id="notice"><%= notice %></p>

<p>
  Download:
  <%= link_to "CSV", :action => :show, :id => @experiment.id, :format =>'csv'%>

</p>

<br>
 <% if @experiment.sensor_data.empty? %>
 <p>This experiment has no data yet.</p>
 <% else %>
  <%= render 'chart' %>
 <% end %>

<br>


<p>
  <strong>Name:</strong>
  <%= @experiment.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @experiment.location %>
</p>

<p>
  <strong>CO2 Cutoff:</strong>
  <%= @experiment.co2_cutoff %> ppm
</p>

<%= render 'show_start_and_end' %>

<%= render 'show_devices' %>

<%= link_to 'Edit', edit_experiment_path(@experiment) %> |
<%= link_to 'Back', experiments_path %>
