<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<div class="navbar-header">

				<div style="display:inline-block; padding:6px; margin:6px">
					<%= link_to image_tag("wicked_device_logo.jpg", height: "25"), "http://wickeddevice.com" %>
					<%= link_to "Home", root_path, id: "logo" %>
				</div>
				<button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div>
				<ul class="nav navbar-collapse collapse navbar-right navbar-nav">
					<li><%= link_to "Devices", devices_path %></li>
					<li><%= link_to "Experiments", experiments_path %></li>
					<li class="divider-vertical"></li>
					<li style="font-size:120%"><%= current_user.nil? ? link_to("Login", { :controller => "sessions", :action => "new" }) : link_to(current_user.name, current_user) %>
				</ul>
			</div>
		</div>
	</div>
</header>